@import "variable.css";

.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-padding);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: var(--background-header-color);
    margin: 0;
}

.header__logo,
.header__search,
.header__profile{
    display: flex;
    align-items: center;
}

.btn-voice-search,
.btn-notification{
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: inherit;
    padding: 4px
}

.btn-voice-search:hover,
.btn-notification:hover,
.btn-voice-search:focus,
.btn-notification:focus{
    background: var(--secondary-color);
    border-radius: 50%;
}

.btn-voice-search__icon,
.btn-notification__icon,
.btn-search__icon,
.btn-profile-menu__icon{
    width: 22px;
    height: 22px;
    fill: white;
}

.btn-voice-search,
.btn-profile-menu{
    margin-left: 10px;
}

/* logo style */
.header__logo{
    height: 100%;
    color: var(--main-color);
}

.logo-svg{
    width: 50px;
    fill: var(--main-color);
}

.title{
    padding: 0;
    margin: 0;
    font-family: var(--main-font-family);
}

/* search style */
.header__search{
    width: 40%;
}
.search-input{
     border: none;
     height: 30px;
     width: calc(100% - 56px);
}
.search-input:focus{
    outline: 2px solid var(--secondary-color);
}

.btn-search{
    width: 50px;
    height: 30px;
    cursor: pointer;
    background: var(--secondary-color);
    border-left: none;
    padding: 4px;
}

/* profile block style */
.btn-profile-menu{
    width: 34px;
    height: 34px;
    background: var(--secondary-color);
    border-radius: 50%;
    position: relative;
}

.block-menu{
    position: absolute;
    width: 150px;
    top: 18px;
    right: 0;
    list-style-type: none;
    padding: 0;
    background-color: white;
    display: none;
}

.block-menu__item{
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.block-menu__item:last-child{
    border-bottom: none;
}

.block-menu__item:hover{
    background-color: var(--background-side-panel-color);
}

.block-menu__icon{
    width: 20px;
    margin-right: 10px;
}

.btn-profile-menu:hover .block-menu{
    display: block;
}

@media (max-width: 600px) {
    .title{
        display: none;
    }
}


