.main {
    overflow-y: scroll;
}

.main::-webkit-scrollbar{
    width: 0;
}

.content {
    min-height: calc(100% - ((var(--main-padding) * 2) + 50px));
    padding: var(--main-padding);
}

/* categories style*/
.categories-wrapper {
    width: calc(100vw - (300px + (var(--main-padding) * 2)));
    position: relative;
    height: 30px;
}

.categories-list {
    position: absolute;
    left: 0;
    top: 0;
    list-style-type: none;
    width: 150px;
    height: calc(100vw - (300px + (var(--main-padding) * 2)));
    padding: 0;
    flex-direction: column;
    overflow-y: scroll;
    transform: rotate(-90deg) translateY(-150px) translateX(15px);
    transform-origin: right top;
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: repeat(1000, minmax(150px, 200px));
    grid-gap: 10px;
}

.categories-list::-webkit-scrollbar{
    width: 0;
}

.categories__item {
    display: block;
    transform: rotate(90deg) translateX(150px);;
    transform-origin: right top;
    padding: 5px 10px;
    height: 30px;
    width: 150px;
    text-align: center;
    background-color: var(--background-side-panel-color);
    border-radius: 15px;
}

.categories__item p {
    display: block;
    margin: 0;
}

.carousel{
    list-style-type: none;
    height: 0;
    margin: 0;
    padding: 0;
}

/* list video style */
.list-video {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc((100% - 46px) / 4));
    grid-template-rows: repeat(auto-fill, auto);
    list-style-type: none;
    padding: 15px 0;
    grid-gap: 15px;
    margin: 0;
}

.cart {
    position: relative;
}

.cart__preview {
    width: 100%;
    height: calc(100% / 1.25);
    position: relative;
}

.cart__image {
    width: 100%;
    height: 100%;
}

.cart__avatar {
    border-radius: 50%;
    width: 30px;
}

.cart__block-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__text-info {
    flex: 0 0 calc(100% - 30px - 15px);
}

.cart__title{
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.menu-video__icon {
    width: 15px;
}

.play-video-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s;
}

.cart__preview:hover .play-video-block {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity 1s;
}

.count-viewers, .duration{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 5px;
    right: 5px;
    z-index: 4;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
}

.live-video .cart__preview:before{
    content: "LIVE";
    position: absolute;
    background-color: red;
    top: 5px;
    left: 5px;
    z-index: 4;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
}

.count-viewers, .live-video .duration{
    display: none;
}

.live-video .count-viewers{
   display: block;
}

@media (max-width: 1200px) {
    .list-video {
        grid-template-columns: repeat(auto-fill, calc((100% - 30px) / 3));
    }

    .categories-wrapper {
        width: calc(100vw - (70px + (var(--main-padding) * 2)));
    }

    .categories-list {
        height: calc(100vw - (70px + (var(--main-padding) * 2)));
    }
}

@media (max-width: 900px) {
    .list-video{
        grid-template-columns: repeat(auto-fill, calc((100% - 16px) / 2));
    }
}

@media (max-width: 600px) {
    .list-video{
        grid-template-columns: 100%;
    }
}