.side-panel{
    background: var(--background-side-panel-color);
    margin: 0;
    padding: var(--main-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* list style */
.list{
    flex: 0 0 calc(100% - 140px);
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
}

.list__item{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 30px;
     width: 100%;
     margin: 0 0 20px;
}

.list__item:hover{
    background-color: var(--background-contacts-color);
}

.list__info-user{
    flex: 0 0 85%;
    display: flex;
    align-items: center;
}

.list__count-subscribers{
    flex: 0 0 15%;
    position: relative;
}

.info-user__avatar{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.info-user__name{
    text-overflow: ellipsis;
}

.live .count-subscribers:before,
.live .count-subscribers:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -20px;
    top: 5px;
}

.live .count-subscribers:before{
    animation: pulse 1.2s ease infinite;
    background-color: red;
}

.live .count-subscribers:after{
    z-index: 4;
    background-color: red;
    background-size: 18px;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        opacity: 0.3;
    }
    100%{
        transform: scale(1.5);
    }
}

/* list scrollbar style */
.list::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}

.list::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.list:hover::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

/* contacts block style */
.contacts{
    flex: 0 0 140px;
    text-align: center;
    padding: 10px 0;
}

.contacts > section{
    width: 100%;
    height: 100%;
    background: var(--background-contacts-color);
    padding: 5px;
}

.contacts h2::selection{
    color: var(--main-color);
    background:var(--secondary-color) ;
}

.contacts__ref{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contacts__icon{
     width: 30px;
}

.facebook:hover{
    fill: #3b5998;
}

.telegram:hover{
    fill: #0088cc;
}

.instagram:hover{
    fill: #e66465;
}

@media (max-width: 1200px) {
    .contacts{
        display: none;
    }
    .info-user__name{
        display: none;
    }
    .count-subscribers{
        display: none;
    }
    .info-user__avatar{
        margin-right: 0;
    }
    .side-panel{
        width: 70px;
    }
    .side-panel__list{
        width: 30px;
        flex: 0 0 100%;
    }
    .list::-webkit-scrollbar{
        width: 0px;
    }
}
