@import "normalize.css";
@import "header.css";
@import "footer.css";
@import "main.css";
@import "side-panel.css";
@import "variable.css";

* {
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

body{
    display: grid;
    grid-template-columns: 300px calc(100vw - 300px);
    grid-template-rows: 60px calc(100vh - 60px);
}

.header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: relative;
    z-index: 3;
}

.side-panel{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
    z-index: 2;
}

.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

@media (max-width: 1200px) {
    body{
        grid-template-columns: 70px calc(100vw - 70px);
    }
}

