@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

:root {
    --main-padding: 20px;
    --main-font-family: 'Kanit', sans-serif;

    --main-color: #ffffff;
    --secondary-color: #fe7e00;
    --background-header-color: 	#00bbf2;
    --background-side-panel-color: #d5f6f5;
    --background-contacts-color: #caeceb;
}